    h1
	{
		color:blue;
		font-size:40px;
	}
	p
	{
        color:grey;
	}
	table, th, td 
	{
    border: 1px solid black;
    border-collapse: collapse;
	}
    th
    {
     background-color: rgba(102, 204, 255, 0.8)
    }
	td
	{
	 background-color: #cceeff;	
	}